/* Fuentes de google fonts para testiar */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
/** CSS DARK THEME MIXED SURFACE COLORS */
    --font-family-1:"Poetsen One", sans-serif;
    --font-family-2:"Roboto", sans-serif;
    --color-surface-mixed-100:  #1c4071;
    --color-surface-mixed-200:  #395380;
    --color-surface-mixed-300:  #52668f;
    --color-surface-mixed-400:  #6a7a9f;
    --color-surface-mixed-500:  #828fae;
    --color-surface-mixed-600:  #9aa4be;
}

body{
    width: 100svw;
    height: 100svh;
}


a{
    text-decoration: none;
    color: black;
}

header{
    --height-header:80px;
    width: 100%;
    height: var(--height-header);
    padding-inline: 50px;
    background-color: var(--color-surface-mixed-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
}

.logo{
    width: 30%;

    .logo__img{
        width: 70%;
    }
}

.nav{
    width: 30%;

    .nav__list{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        height: 100%;
    }

    .nav__item{
        width: 30%;
        height: var(--height-header);
    }

    .nav__item--link{
        display: block;
        line-height: var(--height-header);
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        font-family: var(--font-family-2);
        font-weight: 600;
        letter-spacing: 0.25rem;
    }
}








